body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  /* CSS HSL */
--russian-violet: hsla(292, 50%, 17%, 1);
--white: hsla(0, 0%, 100%, 1);
--skobeloff: hsla(183, 65%, 24%, 1);
--caribbean-green: hsla(167, 100%, 38%, 1);
--orange-red-crayola: hsla(358, 100%, 68%, 1);
}